<% include ../partials/header %>

<div class="form">
    <h1 class="form__title">Login</h1>
    <div class="form__body">
        <form action="/login" method="post">
            <div class="form__item">
                <input class="form__input" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form__item">
                <input class="form__input" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form__item">
                <button class="btn btn--black">Login</button>
            </div>
        </form>
        <div>
            <a class="btn btn--black" href="/reset">Reset Password</a>
        </div>
        <a class="btn btn--black" href="/movies">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>