<% include ../partials/header %>

<div class="form">
	<h1 class="form__title">Sign Up</h1>
	<div class="form__body">
		<form action="/register" method="post">
			<div class="form__item">
				<input class="form__input" type="text" name="username" placeholder="Username" required>
			</div>
			<div class="form__item">
				<input class="form__input" type="password" name="password" placeholder="Password" required>
			</div>
			<div class="form__item">
				<input class="form__input" type="text" name="firstName" placeholder="First Name">
			</div>
			<div class="form__item">
				<input class="form__input" type="text" name="lastName" placeholder="Last Name">
			</div>
			<div class="form__item">
				<input class="form__input" type="email" name="email" placeholder="Email" required>
			</div>
			<div class="form__item">
				<input class="form__input" type="text" name="adminCode" placeholder="Admin Code">
			</div>
			<div class="form__item">
				<button class="btn btn--black">Sign Up!</button>
			</div>
		</form>
		<a class="btn btn--black" href="/movies">Go Back</a>
	</div>
</div>

<% include ../partials/footer %>