	<footer class="footer">
		<div class="footer__content">
			<a class="footer__brand" href="/">FilmTime</a>
			<a class="footer__contact" href="https://github.com/kazijawad" target="_blank" rel="noopener noreferrer">
				Github
			</a>
		</div>
		<div class="footer__content">
			<a class="footer__about" href="https://kazijawad.github.io" target="_blank" rel="noopener noreferrer">
				&copy; Kazi Jawad.
			</a>
			<a class="footer__contact" href="https://www.linkedin.com/in/kazijawad/" target="_blank"
				rel="noopener noreferrer">
				LinkedIn
			</a>
		</div>
	</footer>
</body>
</html>