</main>
<footer class="footer">
	<div class="footer__content">
		<a class="footer__brand" href="/movies">FilmTime</a>
		<a class="footer__contact" href="https://github.com/kazijawad">Github</a>
	</div>
	<div class="footer__content">
		<a class="footer__about" href="https://kazijawad.github.io">&copy; Kazi Jawad.</a>
		<a class="footer__contact" href="https://www.linkedin.com/in/kazijawad/">LinkedIn</a>
	</div>
</footer>
</body>
</html>