        </main>
        <footer class="footer">
            <div class="footer__text">
                <a class="u-text-decoration" href="/movies">
                    <h2 class="footer__brand">
                        FilmTime
                    </h2>
                </a>
                <p class="footer__about">Created by: <a class="u-text-decoration u-color-grey-light" href="https://kazijawad.github.io">Kazi Jawad</a></p>
            </div>
        </footer>
    </body>
</html>