        </main>
        <footer class="footer">
			<a class="footer__brand" href="/movies">FilmTime</a>
			<p class="footer__about">Created by: <a class="u-text-decoration u-color-grey-light" href="https://kazijawad.github.io">Kazi Jawad</a></p>
        </footer>
    </body>
</html>