<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="FilmTime is the site for all movie information.">
        <title>FilmTime | Movie DB</title>
        <link href="https://fonts.googleapis.com/css?family=Sunflower:300,500,700" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../../images/clapperboard.png">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/style.css">
    </head>
    <body>
        <header class="header">
            <div>
                <a class="u-text-decoration u-inline-block" href="/movies">
                    <h2 class="heading-secondary">
                        FilmTime
                    </h2>
                </a>
            </div>
            <div class="header__nav">
                <% if (!currentUser) { %>
                    <a class="header__nav-item" href="/register">Register</a>
                    <a class="header__nav-item" href="/login">Login</a>
                <% } else { %>
                    <a class="header__nav-item" href="/profile">Signed In As <%= currentUser.username %></a>
                    <a class="header__nav-item" href="/logout">Logout</a>
                <% } %>
            </div>
        </header>

        <% if (error && error.length > 0) { %>
            <div class="flash">
                <p><%= error %></p>
            </div>
        <% } else if (success && success.length > 0) { %>
            <div class="flash">
                <p><%= success %></p>
            </div>
        <% } %>