.footer {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 5rem 30rem;
	box-shadow: 0 1rem 5rem 1rem rgba($color-black, 0.4);
	background-color: $color-blue-dark;

	@include response(laptop) {
		padding: 4rem 10rem;
	}

	@include response(tablet) {
		padding: 4rem 5rem;
	}

	@include response(phone) {
		padding: 3rem;
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: baseline;
	}

	&__brand {
		font-size: 6rem;
		text-decoration: none;
		color: $color-grey-light;
		transition: all .5s;

		&:hover {
			color: $color-white;
		}
		
		@include response(phone) {
			font-size: 3rem;
		}
	}
}
