.footer {
	display: flex;
	flex-flow: column nowrap;
	margin: 10rem 0 0 0;
	padding: 8rem;
	text-align: center;
    background-color: $color-blue-dark;

    &__brand {
		font-size: 6rem;
		text-decoration: none;
        color: $color-grey-light;
    }

    &__about {
        font-size: 2rem;
    }
}
