.header {
    display: flex;
    margin: 0;
    padding: 3rem 30rem;
    background-image: linear-gradient(to top, $color-grey-dark, $color-blue-dark);
    justify-content: space-between;
    color: $color-grey-light;

    &__brand {
        color: $color-grey-light;
    }

    &__nav {
        align-self: center;
        font-size: 2rem;
    }

    &__nav-item {
        text-decoration: none;
        color: $color-grey-light;

        &:not(:last-child) {
            margin: 2rem;
        }
    }

    @media only screen and (max-width: $scale) {
        padding: 2rem 8rem;
    }
}
