.header {
    display: flex;
    margin: 0;
    padding: 3rem 30rem;
    background-image: linear-gradient(to top, #323842, #161e2b);
    justify-content: space-between;

    &__nav {
        align-self: center;
        font-size: 2rem;
    }

    &__nav-item {
        text-decoration: none;
        color: #a2aec1;

        &:not(:last-child) {
            margin: 2rem;
        }
    }
}
