.navbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 30rem;
    background: $color-blue-dark;
	color: $color-grey-light;

	@include response(laptop) {
		padding: 2rem 10rem;
	}

	@include response(tablet) {
		padding: 2rem 5rem;
	}

	@include response(phone) {
		padding: 1.5rem 3rem;
	}

	&__left {
		display: flex;
	}

    &__brand {
		font-size: 4rem;
		text-decoration: none;
		color: $color-grey-light;
		transition: all .5s;

		&:hover {
			color: $color-white;
		}

		@include response(tablet) {
			font-size: 2.5rem;
		}
		
		@include response(phone) {
			font-size: 2rem;
		}
	}
	
	&__search {
		align-self: center;
		margin: 0 0 0 2rem;

		@include response(phone) {
			display: none;
		}
	}

	&__input {
		padding: .7rem 1rem;
		border: none;
		border-radius: .8rem;
		background: $color-blue-light;
		color: $color-grey-light;
		outline: none;

		@include response(tablet) {
			padding: .5rem .7rem;
			width: 40%;
		}
	}

	&__submit {
		margin: 0 0 0 1rem;
		padding:.7rem 1rem;
		font-family: 'Sunflower', sans-serif;
		font-weight: 300;
		font-size: 1.5rem;
		border: none;
		border-radius: 2rem;
		background: $color-grey-light;
		color: $color-blue-light;
		transition: all .5s;
		cursor: pointer;

		&:hover {
			background-color: $color-white;
		}

		@include response(tablet) {
			padding: .5rem .7rem;
			font-size: 1.3rem;
		}
	}

	&__link {
		font-size: 2rem;
		text-decoration: none;
		color: $color-grey-light;
		transition: all .5s;

		&:not(:last-child) {
			margin-right: 3rem;
		}

		&:hover {
			color: $color-white;
		}

		@include response(tablet) {
			font-size: 1.5rem;

			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	&__btn {
		margin-top: 0 !important;
		color: $color-blue-dark;

		&:hover {
			color: $color-blue-dark;
		}

		@include response(tablet) {
			display: none !important;
		}
	}
}
