body {
    font-family: 'Sunflower', sans-serif;
    font-weight: 400;
    color: #fff;
}

.heading-primary {
    font-size: 5rem;
}

.heading-secondary {
    font-size: 3rem;
    color: #a2aec1;
}

.text-box {
    padding: 4rem;
}

.comment-box {
    padding: 0 4rem;
}

.error-message {
    margin-top: 10rem;
    font-size: 4rem;
    color: #161e2b;
}
