body {
    font-family: 'Sunflower', sans-serif;
    font-weight: 400;
    color: $color-primary;
}

.heading-primary {
    font-size: 5rem;
}

.heading-secondary {
    font-size: 3rem;
    color: $color-accent;
}

.text-box {
    padding: 4rem;
}
