<% include partials/header %>

<div>
    <h1>Sign Up</h1>
    <div>
        <form action="/register" method="post">
            <div>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input type="text" name="firstName" placeholder="First Name">
            </div>
            <div>
                <input type="text" name="lastName" placeholder="Last Name">
            </div>
            <div>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div>
                <input type="text" name="adminCode" placeholder="Admin Code">
            </div>
            <div>
                <button>Sign Up!</button>
            </div>
        </form>
        <a href="/movies">Go Back</a>
    </div>
</div>

<% include partials/footer %>