.landing {
    position: relative;
    background-image: linear-gradient(to bottom right, $color-blue-light, $color-blue-dark);
    background-size: cover;

    &__wrap {
        position: absolute;
        top: 25rem;
        left: 20rem;

        @media only screen and (max-width: $tablet) {
            @include absCenter;
            top: 30%;
        }
    }

    &__title {
        font-size: 13rem;
        color: $color-grey-light;

        @media only screen and (max-width: $tablet) {
            font-size: 10rem;
        }
    }

    &__sub {
        padding-top: 1rem;
        border-top: .2rem solid $color-grey-light;
        font-size: 2rem;
    }

    &__showcase {
        position: relative;
    }

    &__photo {
        width: 30%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @media only screen and (max-width: $tablet) {
            position: relative;
            width: 25%;
        }
        
        &--p1 {
            top: 25rem;
            right: 50rem;

            @media only screen and (max-width: $tablet) {
                top: 40rem;
                left: 30rem;
            }
        }
        &--p2 {
            top: 28rem;
            right: 8rem;

            @media only screen and (max-width: $tablet) {
                top: 41rem;
                left: 27rem;
            }
        } 
        &--p3 {
            top: 45rem;
            right: 40rem;

            @media only screen and (max-width: $tablet) {
                top: 50rem;
                left: -15rem;
            }
        }

        &:hover {
            outline: 1.5rem solid $color-white;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5); z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}
