.section-new {
    margin: 3rem 20rem;
    border-radius: 1rem;
    background-color: $color-secondary;
}

.section-view {
    margin: 0 20rem;
}

.section-show {
    margin: 5rem 20rem;
    border-radius: 2rem;
    background-color: $color-secondary;
    color: $color-accent;
}
