.movies-comment {
    margin: 0 30rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(to bottom right, $color-grey-dark, $color-blue-dark);

    @include response(laptop) {
        margin: 2rem 8rem;
    }

    @include response(phone) {
		margin: 1.5rem 3rem;
		text-align: center;
    }
}
