<% include ../partials/header %>

<section class="section-new">
    <div class="text-box">
        <h1 class="heading-primary">View our collection of movies</h1>
        <a class="btn btn--purple" href="/movies/new">Add a Movie</a>
    </div>
</section>

<section class="section-view">
    <% movies.forEach(movie => { %>
        <div class="card">
            <h3 class="card__title"><%= movie.title %></h3>
            <p class="card__link">
                <a class="btn btn--purple" href="movies/<%= movie._id %>">More Info</a>
            </p>
        </div>
    <% }); %>
</section>

<% include ../partials/footer %>