<% include ../partials/header %>

<section class="movies-new">
        <h1 class="heading-primary">View our collection of movies</h1>
        <a class="btn btn--white" href="/movies/new">Add a Movie</a>
        <form action="/movies" method="GET">
            <input class="form__search" type="text" name="search" placeholder="Search Movies...">
            <input class="btn btn--white btn--mini u-margin-left" type="submit" value="Search">
        </form>
</section>

<section class="movies-view">
    <% if (noMatch !== null) { %>
        <p class="movies-view__error"><%= noMatch %></p>
    <% } %>

    <% movies.forEach(movie => { %>
        <div class="card">
            <h3 class="card__title"><%= movie.title %></h3>
            <p class="card__description"><%= movie.description %></p>
            <p class="card__link">
                <a class="btn btn--white" href="movies/<%= movie._id %>">More Info</a>
            </p>
        </div>
    <% }); %>
</section>

<% include ../partials/footer %>