<% include ../partials/header %>

<div class="form">
    <h1 class="form__title">Add A New Movie</h1>
    <div class="form__body">
        <form action="/movies" method="POST">
            <div class="form__item">
                <label class="form__label" for="title">Title</label>
                <input class="form__input" type="text" name="title" id="title" placeholder="Title">
            </div>
            <div class="form__item">
                <label class="form__label" for="description">Description</label>
                <input class="form__input" type="text" name="description" id="description" placeholder="Description">
            </div>
            <div class="form__item">
                <button class="btn btn--black">Submit!</button>
            </div>
        </form>
        <a class="btn btn--black" href="/movies">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>