<% include ../partials/header %>

<div class="section-show">
    <div class="composition">
        <div class="composition__title">
            <h1><%= movie.title %></h1>
        </div>
        <div class="composition__body">
            <p><%= movie.description %></p>
        </div>
    </div>
</div>

<% include ../partials/footer %>