.composition {
    padding: 3rem;
    color: $color-white;

    &__title {
        font-size: 3rem;
        padding: 1rem;
    }

    &__body {
        font-size: 2rem;
        padding-left: 1rem; 
        padding-right: 4rem;
    }

    &__author {
        padding-top: 2rem;
    }

    &__link {
        display: inline-block;

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }
}
