.comment {
    margin-bottom: 2rem;
    padding: 0 4rem;

    &__user {
        font-size: 2.5rem;
        font-weight: 600;
        color: $color-grey-light;
    }

    &__time {
        font-size: 1.5rem;
        font-style: italic;
        color: $color-grey-light;
    }

    &__text {
        font-size: 2.3rem;
    }

    &__btn {
        font-size: 1rem !important;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}
