.flash {
	display: inline-block;
	margin: 2rem 0;
    padding: 2rem;
	font-size: 3rem;
	text-align: center;
	border-radius: 2rem;
	box-shadow: 0 .5rem 3rem .5rem rgba($color-black, 0.5);
	background-image: linear-gradient(to right, $color-grey-dark, $color-blue-dark);
	color: #e74c3c;
}
