.item {
	display: flex;
    padding: 3rem 30rem;
    background-color: $color-blue-dark;

    @include response(laptop) {
        padding: 3rem 10rem;
	}

	@include response(tablet) {
		padding: 3rem 5rem;
	}

    @include response(phone) {
        padding: 1.5rem 3rem;
	}

	&__poster {
		width: 25rem;
		height: 100%;
		border: .1rem solid $color-white;

		@include response(phone) {
			display: none;
		}
	}

	&__content {
		padding: 3rem;
		color: $color-white;
		
		@include response(phone) {
			padding: 3rem 0;
			text-align: center;
		}
	}

	&__title {
        font-size: 3rem;
		padding: 1rem;

		& * {
			display: inline-block;
		}

		@include response(phone) {
			font-size: 2.5rem;
			padding: 0;
		}
	}
	
	&__year {
		margin-left: 1rem;
		color: $color-grey-light;

		@include response(phone) {
			margin: 0;
		}
	}

    &__body {
        font-size: 3rem;
        padding: 0 4rem 0 1rem; 
		
		@include response(phone) {
			margin: 2rem 0 0 0;
			padding: 0 2rem;
		}
	}

	&__heading {
		font-size: 3rem;
		color: $color-grey-light;
	}
	
	&__description {
		padding-top: 1rem;
		font-size: 1.5rem;
		font-weight: 300;
	}

    &__author {
		padding-top: 2rem;
		font-size: 1.5rem;
	}

	&__username {
		text-decoration: none;
		color: $color-grey-light;
	}

	&__link {
        display: inline-block;

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }
}
