// COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-light: #a2aec1;
$color-grey-dark: #323842;

$color-blue-light: #38475e;
$color-blue-dark: #161e2b;

// SCALING
$tablet: 1200px;
$phone: 400px;
