// COLORS
$color-primary: #673AB7;
$color-primary-light: #D1C4E9;
$color-primary-dark: #512DA8;
$color-accent: #E040FB;

$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-icon: #FFFFFF;
$color-divider: #BDBDBD;
